## Enrich routes and plot heatmap

### To do:

**Enrich routes**

Right now I use one only one route from station x to station y, I suspect we have different routes, because when I include the waytypes data we have more unique that actualy station x to station y. 

We could introduce randomness to our system by picking random routes between two stations. Lets say we havd 5 routes from station X to staion Y, for every rental pick a random of the 5 routes. 

Or we could assume that people only took one of these routes. Maybe the shortest? 

- [ ] Check if there are different routes in *data_all_gpd_v3* from station X to station Y.
- [ ] If there is, make a decision about randomness or not.

**Plot heatmap**

Right now we have LineStrings for each routes, meaning a combination of lines making up the whole routes. 

To check the most used routes, we could split the routes at all junctions and count for all rentals in the enriched bike_data how many times each part of the roads are used.

- [ ] Split all routes into smaller pieces
- [ ] Count how many times each smaller piece was used in a routes and store it in a dict
- [ ] Highlight which of these smaller pieces are actually bikelanes and which are not

## Imports and load data

In [20]:
import geopandas as gpd
import pandas as pd
from shapely.geometry import LineString
import sys

We want to see how many unique routes there are in the dataset, as well as in part of the data we enriched with routes-data.

In [21]:
bike_data = pd.read_csv("../data/july_2022_filtered_renamed.csv")
bike_data = bike_data.drop(columns=["Unnamed: 0"])
print(bike_data.shape)

(131704, 15)

In [22]:
gdf = gpd.read_file("../data/data_all_gpd_v3.shp")
print(gdf.shape)
gdf.head(5)

(67890, 19)

,started_at,ended_at,duration,st_st_id,st_st_name,st_st_desc,st_st_lat,st_st_lon,en_st_id,en_st_name,en_st_desc,en_st_lat,en_st_lon,minutes,id,total_dist,waytypes_d,waytypes_s,geometry
0,2022-07-02 08:39:02.618000+00:00,2022-07-02 08:47:54.958000+00:00,532,408,Tøyen skole,forsiden av skolebygget,59.914943,10.773977,448,Oslo Plaza,ved rundkjøringen,59.912183,10.754434,8,6044,1502.2,0 3 7;3 13 2;13 20 3;20 50 2;50 82 3;82 91 7;,v:3.0 d:805.9 a:53.65;v:2.0 d:638.3 a:42.49;v:...,"LINESTRING (10.77395 59.91491, 10.77397 59.914..."
1,2022-07-02 08:39:04.505000+00:00,2022-07-02 08:48:36.381000+00:00,571,397,Storo Storsenter,langs Vitaminveien,59.946710,10.773805,421,Alexander Kiellands Plass,langs Maridalsveien,59.928067,10.751203,9,6045,2701.3,0 2 7;2 86 2;86 94 7;94 111 6;111 112 7;112 11...,v:2.0 d:1435.3 a:53.14;v:3.0 d:805.4 a:29.82;v...,"LINESTRING (10.77378 59.94668, 10.77369 59.946..."
2,2022-07-02 08:39:22.379000+00:00,2022-07-02 08:55:10.095000+00:00,947,601,Rolf Wickstrøms vei,ved Bergrådveien,59.953411,10.757724,2309,Ulven Torg,"innenfor byggegjerdene, sør for Ulvenveien",59.924721,10.810727,15,6047,5583.8,0 4 7;4 83 6;83 93 7;93 141 6;141 142 7;142 16...,v:6.0 d:2775.3 a:49.7;v:3.0 d:1226.1 a:21.96;v...,"LINESTRING (10.75776 59.95342, 10.75783 59.953..."
3,2022-07-02 08:40:20.905000+00:00,2022-07-02 09:03:56.044000+00:00,1415,464,Sukkerbiten,ved gangbroen,59.905124,10.753764,561,Kirkeveien,ved Gørbitz' gate,59.933480,10.726294,23,6052,4430.6,0 3 7;3 7 4;7 8 7;8 18 2;18 42 1;42 139 2;139 ...,v:2.0 d:2641.3 a:59.61;v:3.0 d:841.5 a:18.99;v...,"LINESTRING (10.75380 59.90512, 10.75386 59.905..."
4,2022-07-02 08:40:45.470000+00:00,2022-07-02 08:50:08.635000+00:00,563,519,Thomas Heftyes plass,ved Bygdøy allé,59.918578,10.703900,473,Majorstuveien,langs Maries gate,59.926697,10.716195,9,6053,1409.8,0 3 7;3 30 2;30 54 1;54 64 3;,v:1.0 d:657.1 a:46.61;v:2.0 d:427.4 a:30.32;v:...,"LINESTRING (10.70389 59.91857, 10.70347 59.918..."

In [23]:
# Get a list of unique routes (start and stop stations).

routes_list_sorted = []
routes_list = []

for row in gdf[['st_st_id', 'en_st_id']].iterrows():
    route = list(row[1])

    if route not in routes_list:
        routes_list.append(route)

    route_sort = route
    route_sort.sort()

    if route not in routes_list_sorted:
        routes_list_sorted.append(route)

print('ENRICHED DATA')
print(f'Routes when the order of start and stop is important: {len(routes_list)}')
print(f'Routes when the order of start and stop is NOT important: {len(routes_list_sorted)}')

ENRICHED DATA
Routes when the order of start and stop is important: 42241
Routes when the order of start and stop is NOT important: 18382

In [24]:
for idxA, routeA in enumerate(gdf[['st_st_id', 'en_st_id']].iterrows()):
    routeA = list(routeA[1])

    for idxB, routeB in enumerate(gdf[['st_st_id', 'en_st_id']].iterrows()):
        routeB = list(routeB[1])

        routeB_rev = [routeB[1], routeB[0]]

        #print(routeA, routeB_rev)
        if routeA == routeB_rev:
            print(idxA, idxB, routeA, routeB)
            break
    if routeA == routeB_rev:
        break

0 8174 [408, 448] [448, 408]

In [25]:
print("Check two between the same stations from different directions.")
display(gdf[['st_st_id', 'st_st_name', 'en_st_id', 'en_st_name', 'minutes', 'id', 'total_dist']].iloc[[0, 8174]])
print('We can see there is a difference in the distance and time between the two routes.')

Check two between the same stations from different directions.

      st_st_id   st_st_name  en_st_id   en_st_name  minutes    id  total_dist
0          408  Tøyen skole       448   Oslo Plaza        8  6044      1502.2
8174       448   Oslo Plaza       408  Tøyen skole        9  5210      1510.2

We can see there is a difference in the distance and time between the two routes.

In [26]:
# Get a list of unique routes (start and stop stations).

bd_routes_list_sorted = []
bd_routes_list = []

for row in bike_data[['st_st_id', 'en_st_id']].iterrows():
    route = list(row[1])

    if route not in bd_routes_list:
        bd_routes_list.append(route)

    route_sort = route
    route_sort.sort()

    if route not in bd_routes_list_sorted:
        bd_routes_list_sorted.append(route)

print(f'Routes when the order of start and stop is important: {len(bd_routes_list)}')
print(f'Routes when the order of start and stop is NOT important: {len(bd_routes_list_sorted)}')

Routes when the order of start and stop is important: 74644
Routes when the order of start and stop is NOT important: 23349

In [27]:
gdf.shape

(67890, 19)

In [28]:
bike_data.shape

(131704, 15)

In [29]:
bike_data.head(5)

,started_at,ended_at,duration,st_st_id,st_st_name,st_st_desc,st_st_lat,st_st_lon,en_st_id,en_st_name,en_st_desc,en_st_lat,en_st_lon,minutes,id
0,2022-07-01 03:00:14.428000+00:00,2022-07-01 03:16:28.492000+00:00,974,447,Kværnerbyen,langs Smeltedigelen,59.904473,10.786167,1755,Aker Brygge,ved trikkestopp,59.911184,10.730035,16,0
1,2022-07-01 03:00:25.577000+00:00,2022-07-01 03:16:23.183000+00:00,957,537,St. Olavs gate,ved Pilestredet,59.917968,10.738629,431,Chr. Michelsens Gate,ved Fjellgata,59.927292,10.773185,15,1
2,2022-07-01 03:04:57.874000+00:00,2022-07-01 03:14:42.301000+00:00,584,563,Huitfeldts gate,ved Observatoriegata,59.912684,10.722900,2328,The Hub,Mellom Oslo City og The Hub hotel,59.912522,10.750910,9,6
3,2022-07-01 03:05:27.456000+00:00,2022-07-01 03:11:22.103000+00:00,354,442,Vulkan,ved Maridalsveien,59.922510,10.751010,599,Paléhaven,langs Strandgata,59.910331,10.750110,5,7
4,2022-07-01 03:11:37.601000+00:00,2022-07-01 03:47:45.110000+00:00,2167,464,Sukkerbiten,ved gangbroen,59.905124,10.753764,600,Dyvekes bru,ved skatepark,59.905323,10.768958,36,8

In [30]:
gdf.head(5)

,started_at,ended_at,duration,st_st_id,st_st_name,st_st_desc,st_st_lat,st_st_lon,en_st_id,en_st_name,en_st_desc,en_st_lat,en_st_lon,minutes,id,total_dist,waytypes_d,waytypes_s,geometry
0,2022-07-02 08:39:02.618000+00:00,2022-07-02 08:47:54.958000+00:00,532,408,Tøyen skole,forsiden av skolebygget,59.914943,10.773977,448,Oslo Plaza,ved rundkjøringen,59.912183,10.754434,8,6044,1502.2,0 3 7;3 13 2;13 20 3;20 50 2;50 82 3;82 91 7;,v:3.0 d:805.9 a:53.65;v:2.0 d:638.3 a:42.49;v:...,"LINESTRING (10.77395 59.91491, 10.77397 59.914..."
1,2022-07-02 08:39:04.505000+00:00,2022-07-02 08:48:36.381000+00:00,571,397,Storo Storsenter,langs Vitaminveien,59.946710,10.773805,421,Alexander Kiellands Plass,langs Maridalsveien,59.928067,10.751203,9,6045,2701.3,0 2 7;2 86 2;86 94 7;94 111 6;111 112 7;112 11...,v:2.0 d:1435.3 a:53.14;v:3.0 d:805.4 a:29.82;v...,"LINESTRING (10.77378 59.94668, 10.77369 59.946..."
2,2022-07-02 08:39:22.379000+00:00,2022-07-02 08:55:10.095000+00:00,947,601,Rolf Wickstrøms vei,ved Bergrådveien,59.953411,10.757724,2309,Ulven Torg,"innenfor byggegjerdene, sør for Ulvenveien",59.924721,10.810727,15,6047,5583.8,0 4 7;4 83 6;83 93 7;93 141 6;141 142 7;142 16...,v:6.0 d:2775.3 a:49.7;v:3.0 d:1226.1 a:21.96;v...,"LINESTRING (10.75776 59.95342, 10.75783 59.953..."
3,2022-07-02 08:40:20.905000+00:00,2022-07-02 09:03:56.044000+00:00,1415,464,Sukkerbiten,ved gangbroen,59.905124,10.753764,561,Kirkeveien,ved Gørbitz' gate,59.933480,10.726294,23,6052,4430.6,0 3 7;3 7 4;7 8 7;8 18 2;18 42 1;42 139 2;139 ...,v:2.0 d:2641.3 a:59.61;v:3.0 d:841.5 a:18.99;v...,"LINESTRING (10.75380 59.90512, 10.75386 59.905..."
4,2022-07-02 08:40:45.470000+00:00,2022-07-02 08:50:08.635000+00:00,563,519,Thomas Heftyes plass,ved Bygdøy allé,59.918578,10.703900,473,Majorstuveien,langs Maries gate,59.926697,10.716195,9,6053,1409.8,0 3 7;3 30 2;30 54 1;54 64 3;,v:1.0 d:657.1 a:46.61;v:2.0 d:427.4 a:30.32;v:...,"LINESTRING (10.70389 59.91857, 10.70347 59.918..."

### Check if there are different routes for same start and end stations

In [31]:
# Check for different routes between the same stations.

for idxA, routeA in enumerate(bike_data[['st_st_id', 'en_st_id']].iterrows()):
    routeA = list(routeA[1])

    for idxB, routeB in enumerate(bike_data[['st_st_id', 'en_st_id']].iterrows()):
        routeB = list(routeB[1])

        routeB_rev = [routeB[1], routeB[0]]

        #print(routeA, routeB_rev)
        if routeA == routeB_rev:
            print(idxA, idxB, routeA, routeB)
            break
    if routeA == routeB_rev:
        break

0 5874 [447, 1755] [1755, 447]

In [32]:
gdf.head(5)

,started_at,ended_at,duration,st_st_id,st_st_name,st_st_desc,st_st_lat,st_st_lon,en_st_id,en_st_name,en_st_desc,en_st_lat,en_st_lon,minutes,id,total_dist,waytypes_d,waytypes_s,geometry
0,2022-07-02 08:39:02.618000+00:00,2022-07-02 08:47:54.958000+00:00,532,408,Tøyen skole,forsiden av skolebygget,59.914943,10.773977,448,Oslo Plaza,ved rundkjøringen,59.912183,10.754434,8,6044,1502.2,0 3 7;3 13 2;13 20 3;20 50 2;50 82 3;82 91 7;,v:3.0 d:805.9 a:53.65;v:2.0 d:638.3 a:42.49;v:...,"LINESTRING (10.77395 59.91491, 10.77397 59.914..."
1,2022-07-02 08:39:04.505000+00:00,2022-07-02 08:48:36.381000+00:00,571,397,Storo Storsenter,langs Vitaminveien,59.946710,10.773805,421,Alexander Kiellands Plass,langs Maridalsveien,59.928067,10.751203,9,6045,2701.3,0 2 7;2 86 2;86 94 7;94 111 6;111 112 7;112 11...,v:2.0 d:1435.3 a:53.14;v:3.0 d:805.4 a:29.82;v...,"LINESTRING (10.77378 59.94668, 10.77369 59.946..."
2,2022-07-02 08:39:22.379000+00:00,2022-07-02 08:55:10.095000+00:00,947,601,Rolf Wickstrøms vei,ved Bergrådveien,59.953411,10.757724,2309,Ulven Torg,"innenfor byggegjerdene, sør for Ulvenveien",59.924721,10.810727,15,6047,5583.8,0 4 7;4 83 6;83 93 7;93 141 6;141 142 7;142 16...,v:6.0 d:2775.3 a:49.7;v:3.0 d:1226.1 a:21.96;v...,"LINESTRING (10.75776 59.95342, 10.75783 59.953..."
3,2022-07-02 08:40:20.905000+00:00,2022-07-02 09:03:56.044000+00:00,1415,464,Sukkerbiten,ved gangbroen,59.905124,10.753764,561,Kirkeveien,ved Gørbitz' gate,59.933480,10.726294,23,6052,4430.6,0 3 7;3 7 4;7 8 7;8 18 2;18 42 1;42 139 2;139 ...,v:2.0 d:2641.3 a:59.61;v:3.0 d:841.5 a:18.99;v...,"LINESTRING (10.75380 59.90512, 10.75386 59.905..."
4,2022-07-02 08:40:45.470000+00:00,2022-07-02 08:50:08.635000+00:00,563,519,Thomas Heftyes plass,ved Bygdøy allé,59.918578,10.703900,473,Majorstuveien,langs Maries gate,59.926697,10.716195,9,6053,1409.8,0 3 7;3 30 2;30 54 1;54 64 3;,v:1.0 d:657.1 a:46.61;v:2.0 d:427.4 a:30.32;v:...,"LINESTRING (10.70389 59.91857, 10.70347 59.918..."

In [33]:
gdf_duplicates = gdf[['st_st_id', 'en_st_id', 'total_dist', 'waytypes_d', 'waytypes_s', 'geometry']].copy()

# remove duplicates
# gdf_duplicates.drop_duplicates(subset=['st_st_id', 'en_st_id', 'total_dist', 'waytypes_d', 'waytypes_s'], keep=False, inplace=True)

# sort values
gdf_duplicates.sort_values(by=['st_st_id', 'en_st_id', 'total_dist', 'waytypes_d', 'waytypes_s'], inplace=True)

# keep only rows where st_st_id and en_st_id are the same, but the total_dist is different or waytypes_s or way_types_s or geometry is different
gdf_duplicates = gdf_duplicates[gdf_duplicates.duplicated(keep=False)]

In [34]:
# Group the rows by the shared values in st_st_id and en_en_id columns
grouped = gdf_duplicates.groupby(['st_st_id', 'en_st_id'])

# Count the number of unique values in each group for all columns
unique_counts = grouped.nunique()

# Display the unique_counts dataframe
print(unique_counts)

# Show only the rows where the total_dist, waytypes_d, waytypes_s or geometry columns have more than one unique value
unique_counts = unique_counts[(unique_counts['total_dist'] > 1) | (unique_counts['waytypes_d'] > 1) | (unique_counts['waytypes_s'] > 1) | (unique_counts['geometry'] > 1)]

print(unique_counts)

                   total_dist  waytypes_d  waytypes_s  geometry
st_st_id en_st_id
377      396                1           1           1         1
         398                1           1           1         1
         406                1           1           1         1
         421                1           1           1         1
         425                1           1           1         1
...                       ...         ...         ...       ...
2347     746                1           1           1         1
         1023               1           1           1         1
         1101               1           1           1         1
         1755               1           1           1         1
         2333               1           1           1         1

[14107 rows x 4 columns]
Empty DataFrame
Columns: [total_dist, waytypes_d, waytypes_s, geometry]
Index: []

## Enrich the bike data we didnt have time to get

We tried to download all routes by going through all rentals taking place. However if we just looked at unique routes by start and stop points, we could have reduced the required data needed to be downloaded.

Now we want to find all unique routes in the downloaded data and add it to the list of unique routes in bike_data.

In [35]:
routes_gdf = gdf[['st_st_id', 'en_st_id', 'total_dist', 'waytypes_d', 'waytypes_s', 'geometry']].copy()

# As we used the API at different times to get route data, it probably suggested different routes.
# Therefore we have more than one route between two stations. 
# Our assumption is that people took the same route between two stations, therefore we will drop duplicates.
routes_gdf.drop_duplicates(subset = ['st_st_id', 'en_st_id'], keep = 'first', inplace = True)

# Reset the index.
routes_gdf.reset_index(drop=True, inplace=True)

# Let see the result.
routes_gdf

,st_st_id,en_st_id,total_dist,waytypes_d,waytypes_s,geometry
0,408,448,1502.2,0 3 7;3 13 2;13 20 3;20 50 2;50 82 3;82 91 7;,v:3.0 d:805.9 a:53.65;v:2.0 d:638.3 a:42.49;v:...,"LINESTRING (10.77395 59.91491, 10.77397 59.914..."
1,397,421,2701.3,0 2 7;2 86 2;86 94 7;94 111 6;111 112 7;112 11...,v:2.0 d:1435.3 a:53.14;v:3.0 d:805.4 a:29.82;v...,"LINESTRING (10.77378 59.94668, 10.77369 59.946..."
2,601,2309,5583.8,0 4 7;4 83 6;83 93 7;93 141 6;141 142 7;142 16...,v:6.0 d:2775.3 a:49.7;v:3.0 d:1226.1 a:21.96;v...,"LINESTRING (10.75776 59.95342, 10.75783 59.953..."
3,464,561,4430.6,0 3 7;3 7 4;7 8 7;8 18 2;18 42 1;42 139 2;139 ...,v:2.0 d:2641.3 a:59.61;v:3.0 d:841.5 a:18.99;v...,"LINESTRING (10.75380 59.90512, 10.75386 59.905..."
4,519,473,1409.8,0 3 7;3 30 2;30 54 1;54 64 3;,v:1.0 d:657.1 a:46.61;v:2.0 d:427.4 a:30.32;v:...,"LINESTRING (10.70389 59.91857, 10.70347 59.918..."
...,...,...,...,...,...,...
25706,462,465,3485.6,0 6 7;6 9 2;9 20 3;20 44 2;44 51 3;51 88 2;88 ...,v:2.0 d:1967.2 a:56.44;v:3.0 d:827.7 a:23.74;v...,"LINESTRING (10.73100 59.92712, 10.73149 59.927..."
25707,575,739,4120.6,0 2 7;2 63 2;63 69 6;69 186 2;186 202 3;202 20...,v:2.0 d:3743.7 a:90.85;v:3.0 d:301.3 a:7.31;v:...,"LINESTRING (10.73262 59.94744, 10.73257 59.947..."
25708,624,388,3598.0,0 2 7;2 5 6;5 162 2;162 175 1;175 192 2;192 20...,v:2.0 d:3190.8 a:88.68;v:3.0 d:318.5 a:8.85;v:...,"LINESTRING (10.76749 59.92877, 10.76752 59.928..."
25709,596,558,2867.9,0 1 7;1 2 2;2 4 6;4 24 3;24 58 2;58 86 1;86 13...,v:2.0 d:1469.3 a:51.23;v:3.0 d:898.1 a:31.32;v...,"LINESTRING (10.73603 59.93103, 10.73594 59.931..."
25710,403,547,1955.1,0 5 7;5 13 2;13 53 1;53 128 2;128 132 7;,v:2.0 d:1404.2 a:71.82;v:1.0 d:460.6 a:23.56;v...,"LINESTRING (10.73048 59.92177, 10.73008 59.921..."

In [36]:
# You want to export new data?
export_new_data = False

# Enrich the bike data with the route data.
bike_data2 = routes_gdf.merge(bike_data, on=['st_st_id', 'en_st_id'], how='left')

# Drop the rows we dont have data for.
bike_data2.dropna(subset=['waytypes_d'], inplace=True)

# Change order of columns as original gdf.
bike_data2 = bike_data2[['st_st_id', 'st_st_name', 'en_st_id', 'en_st_name', 'minutes', 'id', 'total_dist', 'waytypes_d', 'waytypes_s', 'geometry']]

# Exprt as shp.
if export_new_data:
    bike_data2.to_file('../data/data_all_gpd_v4.shp')

# Lets see how many rows we have.
bike_data2

,st_st_id,st_st_name,en_st_id,en_st_name,minutes,id,total_dist,waytypes_d,waytypes_s,geometry
0,408,Tøyen skole,448,Oslo Plaza,7,5391,1502.2,0 3 7;3 13 2;13 20 3;20 50 2;50 82 3;82 91 7;,v:3.0 d:805.9 a:53.65;v:2.0 d:638.3 a:42.49;v:...,"LINESTRING (10.77395 59.91491, 10.77397 59.914..."
1,408,Tøyen skole,448,Oslo Plaza,8,6044,1502.2,0 3 7;3 13 2;13 20 3;20 50 2;50 82 3;82 91 7;,v:3.0 d:805.9 a:53.65;v:2.0 d:638.3 a:42.49;v:...,"LINESTRING (10.77395 59.91491, 10.77397 59.914..."
2,408,Tøyen skole,448,Oslo Plaza,5,31205,1502.2,0 3 7;3 13 2;13 20 3;20 50 2;50 82 3;82 91 7;,v:3.0 d:805.9 a:53.65;v:2.0 d:638.3 a:42.49;v:...,"LINESTRING (10.77395 59.91491, 10.77397 59.914..."
3,397,Storo Storsenter,421,Alexander Kiellands Plass,9,6045,2701.3,0 2 7;2 86 2;86 94 7;94 111 6;111 112 7;112 11...,v:2.0 d:1435.3 a:53.14;v:3.0 d:805.4 a:29.82;v...,"LINESTRING (10.77378 59.94668, 10.77369 59.946..."
4,397,Storo Storsenter,421,Alexander Kiellands Plass,10,7493,2701.3,0 2 7;2 86 2;86 94 7;94 111 6;111 112 7;112 11...,v:2.0 d:1435.3 a:53.14;v:3.0 d:805.4 a:29.82;v...,"LINESTRING (10.77378 59.94668, 10.77369 59.946..."
...,...,...,...,...,...,...,...,...,...,...
114920,575,Sognsveien,739,Hammersborg Torg,15,20533,4120.6,0 2 7;2 63 2;63 69 6;69 186 2;186 202 3;202 20...,v:2.0 d:3743.7 a:90.85;v:3.0 d:301.3 a:7.31;v:...,"LINESTRING (10.73262 59.94744, 10.73257 59.947..."
114921,575,Sognsveien,739,Hammersborg Torg,17,132987,4120.6,0 2 7;2 63 2;63 69 6;69 186 2;186 202 3;202 20...,v:2.0 d:3743.7 a:90.85;v:3.0 d:301.3 a:7.31;v:...,"LINESTRING (10.73262 59.94744, 10.73257 59.947..."
114922,624,Dælenenggata,388,Skovveien,13,20536,3598.0,0 2 7;2 5 6;5 162 2;162 175 1;175 192 2;192 20...,v:2.0 d:3190.8 a:88.68;v:3.0 d:318.5 a:8.85;v:...,"LINESTRING (10.76749 59.92877, 10.76752 59.928..."
114923,596,Idioten,558,Dokkveien,7,20542,2867.9,0 1 7;1 2 2;2 4 6;4 24 3;24 58 2;58 86 1;86 13...,v:2.0 d:1469.3 a:51.23;v:3.0 d:898.1 a:31.32;v...,"LINESTRING (10.73603 59.93103, 10.73594 59.931..."
114924,403,Parkveien,547,Skippergata,8,20551,1955.1,0 5 7;5 13 2;13 53 1;53 128 2;128 132 7;,v:2.0 d:1404.2 a:71.82;v:1.0 d:460.6 a:23.56;v...,"LINESTRING (10.73048 59.92177, 10.73008 59.921..."